<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Vacations" verbose="1">
    <!--Custom Listener class-->
    <listeners>
        <listener class-name="com.gap.atpractice.utils.CustomListener"/>
    </listeners>

    <!--TestLink Access parameters-->
    <parameter name="testLinkKey" value="80535d62d292f57003486de62441abe8"/>
    <parameter name="testLinkUrl" value="https://testlink.wearegap.com/lib/api/xmlrpc/v1/xmlrpc.php"/>

    <!--TestLink Test Cases parameters-->
    <parameter name="testLinkTestCasesVersion" value="1"/>
    <parameter name="testLinkTestCasePlatformId" value="1"/>
    <parameter name="testLinkTestCaseUrgency" value="1"/>
    <parameter name="testLinkProjectName" value="Automation Practice - Training"/>
    <parameter name="testLinkPlanName" value="Plan Keylin"/>
    <parameter name="testLinkTestBuildName" value="Build Keylin"/>
    <parameter name="createPlanFlag" value="true"/>
    <parameter name="createBuildFlag" value="true"/>

    <!--Test Plan parameters-->
    <parameter name="testPlanNotes" value="This is Keylin´s plan"/>
    <parameter name="testPlanActive" value="true"/>
    <parameter name="testPlanPublic" value="true"/>

    <!--Build parameters-->
    <parameter name="testLinkBuildName" value="Build Keylin"/>
    <parameter name="testLinkBuildNotes" value="Keylin´s Build"/>

    <!--Login credentials-->
    <parameter name="browser" value="Chrome"/>
    <parameter name="email" value="at_java_training@wearegap.com"/>
    <parameter name="password" value="123queso"/>

    <test name="Employee" enabled="true">
        <!--New employee form values-->
        <parameter name="newEmployeeFirstName" value="Keylin"/>
        <parameter name="newEmployeeLastName" value="Hidalgo Barrios"/>
        <parameter name="newEmployeeEmail" value="khidalgo@wearegap.com"/>
        <parameter name="newEmployeeId" value="112250877"/>
        <parameter name="newEmployeeLeadName" value="Pancha Carrazco"/>
        <parameter name="newEmployeeStartWorkingYear" value="2015"/>
        <parameter name="newEmployeeStartWorkingMonth" value="5"/>
        <parameter name="newEmployeeStartWorkingDay" value="25"/>

        <!--Add vacations form values-->
        <parameter name="addVacationType" value="2"/>
        <parameter name="addVacationSince" value="09/25/2019"/>
        <parameter name="addVacationUntil" value="09/30/2019"/>
        <parameter name="addVacationRequestedOn" value="01/05/2019"/>
        <parameter name="addVacationTotalDays" value="5"/>
        <parameter name="addVacationDescription" value="Adding vacation days for 2019"/>

        <!--Request vacations form values-->
        <parameter name="deductVacationType" value="1"/>
        <parameter name="deductVacationSince" value="01/25/2019"/>
        <parameter name="deductVacationUntil" value="01/30/2019"/>
        <parameter name="deductVacationRequestedOn" value="11/05/2018"/>
        <parameter name="deductVacationTotalDays" value="5"/>
        <parameter name="deductVacationDescription" value="Deducting vacation days for 2019"/>

        <parameter name="vacationsAddedMessage" value="Vacation was successfully created."/>
        <parameter name="vacationsCreatedMessage" value="Vacation was successfully created."/>

        <!--TCs id and external id-->
        <parameter name="idCreateNewEmployee" value="22302"/>
        <parameter name="idClickEmployeeDetails" value="22316"/>
        <parameter name="idDeleteEmployee" value="22372"/>
        <parameter name="idAddVacationDays" value="22318"/>
        <parameter name="idDeductVacationDays" value="22344"/>
        <groups>
            <run>
                <include name="employeeTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.gap.atpractice.testsuites.EmployeeInfoTabTest"/>
            <class name="com.gap.atpractice.testsuites.NewEmployeeTest"/>
            <class name="com.gap.atpractice.testsuites.AddRequestVacationTest"/>
        </classes>
    </test>
    <test name="DataProvider" enabled="false">
        <groups>
            <run>
                <include name="testngDataProvider"/>
            </run>
        </groups>
        <classes>
            <class name="com.gap.atpractice.testsuites.LoginTest"/>
        </classes>
    </test>
    <test name="HomePageTabs" enabled="false">
        <classes>
            <class name="com.gap.atpractice.testsuites.HomeTest"/>
        </classes>
    </test>
    <test name="ResetPassword" enabled="false">
        <groups>
            <run>
                <include name="resetPassword"/>
            </run>
        </groups>
        <classes>
            <class name="com.gap.atpractice.testsuites.LoginTest"/>
        </classes>
    </test>
</suite>

