<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Vacations" verbose="1">
    <listeners>
        <listener class-name="com.gap.atpractice.utils.CustomListener"/>
    </listeners>
    <test name="Regression" enabled="false">
        <parameter name="browser" value="Chrome"/>
        <parameter name="email" value="at_java_training@wearegap.com"/>
        <parameter name="password" value="123queso"/>
        <parameter name="identificationNewEmployee" value="112250877"/>
        <parameter name="credsNewEmployeeCreation" value="Keylin,Hidalgo Barrios,khidalgo@wearegap.com,112250877,Pancha Carrazco,2015,May,25"/>
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.gap.atpractice.testsuites.LoginTest"/>
            <class name="com.gap.atpractice.testsuites.HomeTest"/>
            <class name="com.gap.atpractice.testsuites.EmployeeInfoTabTest"/>
            <class name="com.gap.atpractice.testsuites.NewEmployeeTest"/>
            <class name="com.gap.atpractice.testngfactory.LoginFactory"/>
            <class name="com.gap.atpractice.testngfactory.HomeFactory"/>
        </classes>
    </test>
    <test name="Employee" enabled="true">
        <parameter name="browser" value="Chrome"/>
        <parameter name="email" value="at_java_training@wearegap.com"/>
        <parameter name="password" value="123queso"/>
        <parameter name="identificationNewEmployee" value="112250877"/>
        <parameter name="credsNewEmployeeCreation" value="Keylin,Hidalgo Barrios,khidalgo@wearegap.com,112250877,Pancha Carrazco,2015,5,25"/>
        <parameter name="infoAddVacationDays" value="2,09/25/2019,09/30/2019,01/05/2019,5,Adding vacation days for 2019,112250877"/>
        <parameter name="infoDeductVacationDays" value="1,01/25/2019,01/30/2019,11/05/2018,5,Deducting vacation days for 2019,112250877"/>
        <parameter name="vacationsAddedMessage" value="Vacation was successfully created."/>
        <parameter name="vacationsCreatedMessage" value="Vacation was successfully created."/>
        <groups>
            <run>
                <include name="employeeTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.gap.atpractice.testsuites.EmployeeInfoTabTest"/>
            <class name="com.gap.atpractice.testsuites.NewEmployeeTest"/>
            <class name="com.gap.atpractice.testsuites.AddRequestVacationTest"/>
        </classes>
    </test>
    <test name="DataProvider" enabled="false">
        <parameter name="browser" value="Chrome"/>
        <parameter name="email" value="at_java_training@wearegap.com"/>
        <parameter name="password" value="123queso"/>
        <groups>
            <run>
                <include name="testngDataProvider"/>
            </run>
        </groups>
        <classes>
            <class name="com.gap.atpractice.testsuites.LoginTest"/>
        </classes>
    </test>
    <test name="HomePageTabs" enabled="false">
        <parameter name="browser" value="Chrome"/>
        <parameter name="email" value="at_java_training@wearegap.com"/>
        <parameter name="password" value="123queso"/>
        <groups>
            <run>
                <include name="homePageTabsTest"/>
            </run>
        </groups>
        <classes>
            <class name="com.gap.atpractice.testsuites.HomeTest"/>
        </classes>
    </test>
    <test name="ResetPassword" enabled="false">
        <parameter name="browser" value="Chrome"/>
        <parameter name="email" value="at_java_training@wearegap.com"/>
        <parameter name="password" value="123queso"/>
        <groups>
            <run>
                <include name="resetPassword"/>
            </run>
        </groups>
        <classes>
            <class name="com.gap.atpractice.testsuites.LoginTest"/>
        </classes>
    </test>
</suite>

